.header {
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    background-color: rgb(205, 205, 241);
}
.row {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box {
    width: 300px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(245, 237, 237);
}

.row button {
    background-color: green;
    font-size: 20px;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.cartt{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(165, 229, 214);
    margin: 20px;
    button {
        background-color: green;
        font-size: 15px;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-weight: bold;
    }
}